body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 60%;
    margin: auto;
    background: white;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px #ccc;
}

button {
    padding: 10px 20px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

img {
    width: 100%;
    border: 1px solid #ddd;
    margin-top: 10px;
}
